*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 43, 97);
    width: auto;
    height: auto;
}
h1{
    display: block;
    margin: 0 auto;
    background-color: rgb(2, 159, 180);
    color: aliceblue;
    border: 1px solid  rgb(2, 159, 180);
    padding: 10px 20px;
    text-align: center;
}
form{
    width: 600px;
    background-color: rgba(11, 54, 133, 0.377);
    margin: 0 auto;
     margin-top: 50px;
     border-radius: 10px;
}
div.form-group>label{
    font-style: italic;
    color: aliceblue;
    display: block;
    text-align: center;
    
}
div.form-group>input{
    display: block;
    margin-bottom: 13px;
    margin-top: 12px;
    margin-left: 20px;

}
form>.form-group:first-child{
    background-color: rgb(5, 143, 143);
    padding: 20px;    
    border-radius: 10px;
}
form>.form-group:nth-child(2){
     background-color: rgb(5, 53, 143);
    padding: 20px;    
    border-radius: 10px;

}
form>.form-group:nth-child(3){
     background-color: rgb(14, 5, 143);
    padding: 20px;    
    border-radius: 10px;

}
input{
    padding: 6px 3px;
    width: 90%;
    
}
button{
    /*comentarios covierte el elemmento en bloque
      centra el boton
      cambia el fondo del boton
      cambia el color de la letra 
      cambia el borde del boton
      cambia el espacio intero del boton
      redondea las esquinas
      cambia el tamaño de la letra
      cambia la forma del cursor*/
    display: block;
    margin: 0 auto;
    background-color: rgb(2, 159, 180);
    color: aliceblue;
    border: 1px solid  rgb(2, 159, 180);
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 2s, color 1s, border 3s;
   
}
button:hover{
    /*esta pseudoclase anima el boton al momento de darle click
      cambia el fondo cuando da click
      cabia la letra cuando da click
      cambia el color del borde cuando damos click*/
      /*sss*/
    background-color: aliceblue;
    color: rgb(2, 159, 180);
    border: 1px solid rgb(12, 92, 167);
    transition: background-color 3s, color 2s, border 1s;
}
 form:has(input:checked){
    border: 1px solid rgb(4, 27, 70);
    background-color: rgb(3, 24, 65);
}
